package pages

import (
	"ukiran03.com/cinemad/cmd/web/ui/html/layouts"
	"ukiran03.com/cinemad/cmd/web/ui/html/partials"
	"ukiran03.com/cinemad/internal/models"
	"fmt"
)

templ BuyOncePage(data *models.TemplateData) {
	@layouts.Base(
		"Buy one movie",
		data,
		buyOnePageContent(data),
	)
}

templ buyOnePageContent(data *models.TemplateData) {
	{{ movie := data.Data["movie"].(models.Movie) }}
	<h2 class="mt-3 text-center">Buy One Movie</h2>
	<hr/>
	<img
		style="width: 175px; height: auto;"
		alt="Poster for August in the Water (1995)"
		src="/static/img/august-in-the-water.jpg"
		class="img-fluid rounded mx-auto d-block"
	/>
	<div class="alert alert-danger text-center d-none" id="card-messages"></div>
	<form
		action="/payment-succeeded"
		method="post"
		name="charge_form"
		id="charge_form"
		class="d-block needs-validation charge-form"
		autocomplete="off"
		novalidate=""
	>
		<input name="product_id" type="hidden" value="{{movie.ID}}"/>
		<input name="amount" type="hidden" id="amount" value="{{movie.Price}}"/>
		<h3 class="mt-2 text-center mb-3">{ movie.Name }: { FormatCurrency(movie.Price) }</h3>
		<p>{ movie.Description }</p>
		<hr/>
		<div class="mb-3">
			<label for="cardholder-name" class="form-label">Cardholder Name</label>
			<input
				type="text"
				class="form-control"
				id="cardholder-name"
				name="cardholder_name"
				required=""
				autocomplete="cardholder-name-new"
			/>
		</div>
		<div class="mb-3">
			<label for="cardholder-email" class="form-label">Cardholder Email</label>
			<input
				type="email"
				class="form-control"
				id="cardholder-email"
				name="cardholder_email"
				required=""
				autocomplete="cardholder-email-new"
			/>
		</div>
		<div class="mb-3">
			<label for="card-element" class="form-label">Credit Card</label>
			<div id="card-element" class="form-control"></div>
			<div class="alert alert-danger text-center d-none mt-2" id="card-errors" role="alert"></div>
			<div class="alert alert-success text-center d-none mt-2" id="card-success" role="alert"></div>
		</div>
		<hr/>
		<a href="javascript:void(0)" id="pay-button" class="btn btn-primary" onclick="val()">Charge Card</a>
		<div id="processing-payment" class="text-center d-none">
			<div class="spinner-border text-primary" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
		<input name="payment_intent" type="hidden" value="" id="payment_intent"/>
		<input name="payment_method" type="hidden" value="" id="payment_method"/>
		<input name="payment_amount" type="hidden" value="" id="payment_amount"/>
		<input name="payment_currency" type="hidden" value="" id="payment_currency"/>
	</form>
	@partials.StripeJS(data)
}

func FormatCurrency(n int) string {
	f := float32(n / 100)
	return fmt.Sprintf("$%.2f", f)
}
