package pages

import (
	"ukiran03.com/cinemad/cmd/web/ui/html/layouts"
	"ukiran03.com/cinemad/internal/models"
)

templ PaymentSucceededPage(receipt models.PaymentReceiptData, data *models.TemplateData) {
	@layouts.Base(
		"Payment Succeeded!",
		data,
		paymentSucceededPageContent(receipt),
	)
}

templ paymentSucceededPageContent(r models.PaymentReceiptData) {
	<h2 class="mt-5">Payment Succeeded</h2>
	<hr/>
	<p>Payment Intent: { r.PaymentIntent }</p>
	<p>Cardholder: { r.Cardholder }</p>
	<p>Email: { r.Email }</p>
	<p>Payment Method: { r.PaymentMethod }</p>
	<p>Payment Amount: { r.Amount }</p>
	<p>Payment Currency: { r.Currency }</p>
}
